html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 100px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 50px;
}